<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= projectInfo.title %>
    </title>
    <link rel="stylesheet" href="/css/projectStyles.css">
</head>

<body>
    <% layout('../layouts/boilerplate')%>
        <main>
            <section class="hero">
                <div class="project__header wrapper">
                    <h1 class="observed">
                        <%= projectInfo.title %>
                    </h1>
                    <p>
                        <%= projectInfo.about %>
                    </p>
                    <div class="project__info">
                        <div class="project__stackCol">
                            <h4>Stack</h4>
                            <ul class="project__stackList">
                                <% for (tech of projectInfo.stack) { %>
                                    <li>
                                        <%= tech %>
                                    </li>
                                    <% } %>
                            </ul>
                        </div>
                        <div class="project__live">
                            <h4>Live</h4>
                            <a href="<%= projectInfo.live %>" class="underline underline--animated">
                                <div class="projects__link">
                                    <span class="link">View project</span>
                                    <svg width="1.3rem" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="project__code">
                            <h4>Code</h4>
                            <a href="<%= projectInfo.code %>" class="underline underline--animated">
                                <div class="projects__link">
                                    <span class="link">GitHub</span>
                                    <svg width="1.3rem" viewBox="0 0 18 18" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="project__mainImg wrapper">
                    <img src="../images/<%=projectInfo.images[0]%>">
                </div>
            </section>
            <section class="project__purpose wrapper">
                <h3>The purpose</h3>
                <p>
                    <%= projectInfo.purpose %>
                </p>
            </section>
            <section class="project__features wrapper">
                <h3>Features</h3>
                <p>
                    <% for (feature of projectInfo.features) { %>
                        <li>
                            <%= feature %>
                        </li>
                        <% } %>
                </p>
            </section>
            <section class="project__webStack wrapper">
                <h3>Web Stack</h3>
                <p><%- projectInfo.webStack %></p>
            </section>
            <section class="project__challenges wrapper">
                <h3>Challenges</h3>
                <div>
                    <% for (challenge of projectInfo.challenges) { %>
                        <p><%- challenge %></p>
                        <% } %>
                </div>
            </section>
            <section class="project__lessons wrapper">
                <h3>Lessons</h3>
                <div>
                    <% for (lesson of projectInfo.lessons) { %>
                        <p><%- lesson %></p>
                        <% } %>
                </div>
            </section>
            <section class="project__other wrapper py-3">
                <h3>Other Projects</h3>
                <div class="project__otherProjects">
                    <% for (const projectKey in projectInfo.otherProjects) { %>
                        <% const project=projectInfo.otherProjects[projectKey]; %>
                            <div class="otherProject">
                                <h4><%- project.title %></h4>
                                <div class="projects__img">
                                    <img src="../images/<%- project.previewImg %>">
                                    <div class="img-overlay img-overlay--blur">
                                        <div class="img-overlay__button">
                                          <a class="button--outline-dark" href="<%= project.link %>">
                                            Read More <svg width="1.5rem" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M13.922 4.5V11.8125C13.922 11.9244 13.8776 12.0317 13.7985 12.1108C13.7193 12.1899 13.612 12.2344 13.5002 12.2344C13.3883 12.2344 13.281 12.1899 13.2018 12.1108C13.1227 12.0317 13.0783 11.9244 13.0783 11.8125V5.51953L4.79547 13.7953C4.71715 13.8736 4.61092 13.9176 4.50015 13.9176C4.38939 13.9176 4.28316 13.8736 4.20484 13.7953C4.12652 13.717 4.08252 13.6108 4.08252 13.5C4.08252 13.3892 4.12652 13.283 4.20484 13.2047L12.4806 4.92188H6.18765C6.07577 4.92188 5.96846 4.87743 5.88934 4.79831C5.81023 4.71919 5.76578 4.61189 5.76578 4.5C5.76578 4.38811 5.81023 4.28081 5.88934 4.20169C5.96846 4.12257 6.07577 4.07813 6.18765 4.07812H13.5002C13.612 4.07813 13.7193 4.12257 13.7985 4.20169C13.8776 4.28081 13.922 4.38811 13.922 4.5Z" fill="currentColor"></path>
                                            </svg>
                                          </a>
                                        </div>
                                      </div>
                                </div>
                            </div>
                            <% } %>
                </div>

            </section>
        </main>
        <script src="../js/design.js"></script>
</body>

</html>