<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= projectInfo.title %></title>
    <link rel="stylesheet" href="/css/projectStyles.css">
</head>
<body>
    <% layout('../layouts/boilerplate')%>
    <main>
        <section class="hero">
            <div class="project__header wrapper">
                <h1 class="observed"><%= projectInfo.title %></h1>
                <p><%= projectInfo.about %></p>
                <div class="project__info">
                    <div class="project__stack">
                        <h4>Tech stack</h4>
                        <ul>
                        <% for (tech of projectInfo.stack) { %> 
                            <li><%= tech %></li>
                        <% } %>
                        </ul>
                    </div>
                    <div class="project__live">
                        <h4>Live</h4>
                        <a href="<%= projectInfo.live %>">View Site</a>
                    </div>
                    <div class="project__code">
                        <h4>Code</h4>
                        <a href="<%= projectInfo.code %>">View GitHub</a>
                    </div>
                </div>
            </div>
            <div class="project__mainImg wrapper">
                <img src="../images/<%=projectInfo.images[0]%>">
            </div>
        </section>
        <section class="wrapper">
            
        </section>
        
    </main>
    <script src="../js/design.js"></script>
</body>
</html>